.container {
  display: flex;
}

body nav {
  background-color: var(--aside-color);
  width: 206px;
  height: 100vh;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
}

.logo-padding {
  margin: 40px 10px;
}

.border {
  border-bottom: 2px solid #c4c4c4;
  width: 60%;
  margin-bottom: 38px;
}

nav:hover {
  max-width: 206px;
  transition: 1s all;
}
nav:hover * {
  opacity: 100%;
}

.aside-flex {
  display: flex;
  padding: 19px 10px;
  border-radius: 25px 0px 0px 25px;
  width: 100%;
  align-items: center;
  gap: 12px;
  justify-content: flex-start;
  overflow: hidden;
}

.aside-flex:hover {
  background-color: white;
  border-radius: 25px 0px 0px 25px;
  cursor: pointer;
}

.aside-flex:first-child {
  background-color: white;
  border-radius: 25px 0px 0px 25px;
  padding: 19px;
}

.nav-a {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-left: 13px;
}

.hidden {
  color: var(--font-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  opacity: 0;
}

.aside-flex .home {
  color: var(--main-blue-color);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.long-border {
  height: 30px;
  border-bottom: 1px solid var(--main-blue-color);
  width: 346px;
  margin-bottom: 8px;
}

footer p {
  color: var(--main-blue-color);
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 10px;
}
